<style>
.section-divider .components-body {
	padding: 0;
	width: 100%;
	overflow: hidden;
}
</style>

<h2 class="components-title">Divider Styles</h2>
<div class="components-body">
	<%
	let configs = require( './config.js').default;
	for ( let divider of configs.components ) { %>
	<div class="boldgrid-section empty-section">
	</div>

	<div class="boldgrid-section">
		<div class="<%=configs.baseName %> <%=configs.baseName %>-top <%=( configs.baseName + '-' +  divider.name ) %>">
			<%=require('./svg/' + divider.name + '.html') %>
		</div>
		<div class="<%=configs.baseName %> <%=configs.baseName %>-bottom <%=configs.baseName %>-flip <%=( configs.baseName  + '-' +  divider.name ) %>">
			<%=require('./svg/' + divider.name + '.html') %>
		</div>
	</div>
	<% } %>
</div>
<div class="boldgrid-section empty-section">
</div>
