<style>
.section-divider .components-body {
	padding: 0;
	width: 100%;
	overflow: hidden;
}
</style>

<h2 class="components-title">Section Divider Styles</h2>
<div class="components-body">
	<div class="boldgrid-section">
		<div class="section-divider-triangle section-divider-element"></div>
	</div>

	<section class="color">
		<p>empty</p>
	</section>


	<div class="boldgrid-section">
		<div class="section-divider-slanted section-divider-element section-divider-element-top"></div>
		<div class="section-divider-slanted section-divider-element"></div>
	</div>

	<section class="color">
		<p>empty</p>
	</section>

	<%
	let configs = require( './config.js').default;
	for ( let divider of configs.components ) { %>
	<section class="color">
		<p>empty</p>
	</section>

	<div class="boldgrid-section">
		<div class="<%=configs.baseName %> <%=configs.baseName %>-top <%=( configs.baseName + '-' +  divider.name ) %>">
			<%=require('./svg/' + divider.name + '.html') %>
		</div>
		<div class="<%=configs.baseName %> <%=configs.baseName %>-bottom <%=configs.baseName %>-flip <%=( configs.baseName  + '-' +  divider.name ) %>">
			<%=require('./svg/' + divider.name + '.html') %>
		</div>
	</div>
	<% } %>

	<section class="color">
		<p>empty</p>
	</section>

	<section class="col-3 ss-style-doublediagonal">
			<p>slanted</p>
	</section>

	<section class="col-2 ss-style-halfcircle">
	    <div class="column text">
	        <p>halfcircle</p>
	    </div>
	</section>

	<section class="color ss-style-bigtriangle">
	    <p>bigtriangle</p>
	</section>

	<section class="col-2 color ss-style-multitriangles">
	    <div class="column text">
	         <h2>Spikey</h2>
	    </div>
	</section>

	<section class="col-2"></section>

	<section class="col-2 color ss-style-roundedsplit">
	    <div class="column text">
	        <p>rounded split</p>
	    </div>
	</section>

	<section class="col-3 ss-style-invertedrounded">
	    <div class="column">
	        <p>Inverted Round</p>
	    </div>
	</section>

	<section class="col-2 color ss-style-boxes">
	    <div class="column text"></div>
	</section>

	<section>
	    <p>boxes</p>
	</section>

	<section class="col-3 color ss-style-zigzag">
	    <div class="column">
	        <p>zigzag</p>
	    </div>
	</section>

	<section class="col-2">
	    <div class="column text"></div>
	</section>

	<section class="color ss-style-roundedges">
	    <p>round corners</p>
	</section>

	<section class="col-3 ss-style-slit">
	    <div class="column">
	        <p>Slit</p>
	    </div>
	</section>

	<section>
	    <p>big triangle shadow</p>
	</section>

	<section class="color col-3 ss-style-inczigzag">
	    <div class="column">
	        <p>saw</p>
	    </div>
	</section>
</div>
